@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-light-green: #20E500;
  --color-dark-green: #1bc800; 
  --color-light-grey: #e9e9e9; 
  --color-dark-grey: #404040;
  
  --breakpoint-dt: 1900px;
  --breakpoint-nt-lg: 1440px;
  --breakpoint-nt-sm: 1024px;
  --breakpoint-tb: 768px;
  --breakpoint-menu: 426px;
  --breakpoint-mb-lg: 425px;
  --breakpoint-mb: 375px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
    box-sizing: border-box;
}

.transition-color-slow {
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.transition-border-fast {
  transition-property: border-left;
  transition-duration: 10ms;
  transition-timing-function: ease;
}