{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Produtos - Admin{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
{% endblock %}

{% block sidebar %}
    <ul class="menu">
        <li><a href="{% url 'home' %}"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
        <li>
            <a href="{% url 'produtos' %}" class="active">
                <svg width="63" height="91" viewBox="0 0 63 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.1182 34.3863C23.7862 34.3863 20.3096 37.8629 20.3096 42.1949V64.0779C20.3096 68.4099 23.7862 71.8865 28.1182 71.8865H62.4892V34.3865L28.1182 34.3863ZM56.2042 37.5113C57.4542 37.4722 58.3448 39.0113 57.4151 40.0933L47.9698 50.8553L54.0596 55.8748C54.9697 56.6287 54.751 58.0818 53.6572 58.5271L29.9772 68.3083C28.4381 68.9606 27.0827 67.0739 28.196 65.8278L37.6569 55.0658L31.5671 50.0502C30.6648 49.3002 30.8796 47.8627 31.9617 47.4057L55.6497 37.6245C55.8411 37.5503 56.0245 37.5152 56.2042 37.5113ZM50.6573 43.0582L35.5593 49.3004L40.8874 53.6832C41.5671 54.2418 41.653 55.2574 41.071 55.9215L34.9812 62.8512L50.0552 56.6246L44.7271 52.2418C44.0513 51.6793 43.9693 50.6637 44.5552 50.0035L50.6573 43.0582Z" fill="#404040"/>
                    <path d="M7.8047 15.6323H54.6797C59.0117 15.6323 62.4883 19.105 62.4883 23.437V31.2573L28.1173 31.2612C22.0939 31.2612 17.1833 36.1753 17.1833 42.1952V64.0782C17.1833 70.1016 22.0974 75.0122 28.1173 75.0122H62.4883V82.8169C62.4883 87.1489 59.0117 90.6255 54.6797 90.6255H7.8047C3.4727 90.6255 0 87.1489 0 82.8169V23.4379C0 19.1059 3.4727 15.6323 7.8047 15.6323Z" fill="#404040"/>
                    <path d="M14.0595 0V4.6992C14.0635 5.55858 14.7549 6.25 15.6142 6.2539C16.4775 6.25781 17.1806 5.56249 17.1845 4.6992V0H21.8642V4.6992C21.8682 5.56248 22.5752 6.2578 23.4384 6.2539C24.2939 6.24999 24.9892 5.55859 24.9931 4.6992V0H29.6728V4.6992C29.6768 5.56248 30.3799 6.2578 31.2431 6.2539C32.1025 6.24999 32.7978 5.55859 32.7978 4.6992V0H37.497V4.6992C37.501 5.55858 38.1924 6.25 39.0517 6.2539C39.915 6.25781 40.6181 5.56249 40.622 4.6992V0H45.3017V4.6992C45.3056 5.56248 46.0088 6.2578 46.872 6.2539C47.7314 6.24999 48.4267 5.55468 48.4267 4.6992L48.4306 0C51.0361 0 53.1104 2.0898 53.1104 4.6953V12.5039H9.36035V4.6992C9.36035 2.0937 11.4502 0.00390005 14.0557 0.00390005L14.0595 0Z" fill="#404040"/>
                </svg>
                Produtos
            </a>
        </li>
        <li><a href="{% url 'lotes' %}"><i class="bi bi-box-seam-fill menu-icon"></i>Lotes</a></li>
        <li><a href="{% url 'pedidos' %}"><i class="bi bi-basket3-fill menu-icon"></i>Pedidos</a></li>
        <li><a href="#"><i class="bi bi-bell-fill menu-icon"></i>Notificações</a></li>
        <li><a href="{% url 'perfil' %}"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
    </ul> 
{% endblock %}

{% block content %}
    <main>
        <div class="container-cima">
            <h3>Produtos</h3>
            <section class="container-botoes-cima">
                <a class="ola-usuario" href="{% url 'perfil' %}">Olá, <span>{{ user.username|first_name }}</span><i class="bi bi-chevron-down"></i></a>
            </section>
        </div>
        {% if messages %}
            {% for message in messages %} 
                {% if 'page-produtos' in message.tags %}
                    <div class="message {{ message.tags }} message-page">
                        <span>{{ message }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="container-row">
            <div class="container-filtro">
                <h4>Ordenar por:</h4>
                <div class="container">
                    <div class="hover-area" id="selecionarBtn">
                        <p id="Selecione">Selecione </p>
                        <img id="setinha" src="{% static 'images/setinha.png' %}">
                    </div>
                    <div class="checkbox-box" id="checkboxBox" style="display: none">
                        <label for="option1" class="filtro">Ordem alfabética A-Z</label>
                        <label for="option2" class="filtro">Ordem alfabética Z-A</label>
                        <label for="option3" class="filtro">Menor preço</label>
                        <label for="option4" class="filtro">Maior preço</label>
                        <label for="option5" class="filtro">Menor promoção</label>
                        <label for="option6" class="filtro">Maior promoção</label>
                    </div>
                </div>
            </div>
            <button type="button" class="button-addProduto" onclick="abrirAddProduto()">Adicionar produto <i class="bi bi-plus"></i></button>
            <!-- POP UP ADICIONAR PRODUTO -->
            <div class="addproduto-popup popup">
                <div>
                    <i class="bi bi-x" onclick="fecharAddProduto()"></i>
                    <div class="conteudo-popupAddProduto">
                        {% if messages %}
                            {% for message in messages %} 
                                {% if 'criar-produto' in message.tags %}
                                    <div class="message {{ message.tags }}" style="width: 90%;">
                                        <span>{{ message }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <h5>Adicione novo produto</span></h5>
                        <form action="{% url 'criar-produto' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="nome-addproduto">Nome: 
                                <input type="text" name="nome" id="nome-addproduto" placeholder="Digite o nome do produto">
                            </label>
                            <label for="descricao-addproduto">Descrição: 
                                <textarea name="descricao" id="descricao-addproduto" placeholder="Digite a descrição do produto"></textarea>
                            </label>
                            <div class="container-flex">
                                <label for="preco-addproduto">Preço: 
                                    <input type="text" name="preco" id="preco-addproduto" placeholder="Digite o preço">
                                </label>
                                <label for="desconto-addproduto">Desconto (%): 
                                    <input type="number" name="desconto" id="desconto-addproduto" placeholder="Digite o desconto">
                                </label>
                            </div>
                            <label for="categoria-addproduto"> Categoria:
                                <select name="categoria" id="categoria-addproduto">
                                    <option value="" disabled selected>Selecione a categoria</option>
                                    {% for categoria, label in categorias %}
                                        <option value="{{ categoria }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <label for="imagem-addproduto">Imagem do Produto:
                                <input type="file" name="imagem" id="imagem-addproduto" accept="image/*">
                            </label>
                            <div class="container-buttons">
                                <button type="submit" class="button-submit">Adicionar</button>
                                <button type="button" onclick="fecharAddProduto()" class="button-cancelar">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <section class="produtos">
            {% for prod in produtos %}
                <div class="card-produto">
                    <div class="container-imgProduto">
                        <img class="imagem-produto" src="/media/{{prod.imagem}}" alt="">
                    </div>
                    {% if prod.porcentagem_desconto == 0 %}
                        <div class="produto-info">
                            <h5 class="titulo-produto">{{prod.nome}}</h5>
                            <p class="precoCalculado-produto">{{prod.preco_calculado|floatformat:2}} R$</p>
                            <p>Estoque disponível: <span>{{prod.calcular_estoque}}</span></p>
                        </div>
                    {% else %}
                        <div class="produto-info">
                            <h5 class="titulo-produto">{{prod.nome}}</h5>
                            <div>
                                <div>
                                    <p class="preco-produto">{{prod.preco}} R$</p>
                                    <p class="precoCalculado-produto">{{prod.preco_calculado|floatformat:2}} R$</p>
                                </div>
                                <div class="promocao">
                                    {{prod.porcentagem_desconto}}% OFF
                                </div> 
                            </div>
                            <p>Estoque disponível: <span>{{prod.calcular_estoque}}</span></p>
                        </div>
                    {% endif %}
                    <div class="container-buttons">
                        <button type="button" class="button-submit" onclick="abrirEditProduto('{{ prod.id }}')">Editar</button>
                        <button type="button" class="button-excluir" onclick="abrirExcluirProduto('{{ prod.id }}')">Excluir</button>
                        <!-- POP UP EDITAR PRODUTO -->
                        <div id="editproduto-popup-{{prod.id}}" class="editproduto-popup popup">
                            <div>
                                <i class="bi bi-x" onclick="fecharEditProduto('{{ prod.id }}')"></i>
                                <div class="conteudo-popupEditProduto">
                                    {% if messages %}
                                        {% for message in messages %} 
                                            {% if 'editar-produto' in message.tags %}
                                                <div class="message {{ message.tags }}" style="width: 90%;">
                                                    <span>{{ message }}</span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <h5>Edição do produto <span>{{prod.nome}}</span></h5>
                                    <form action="{% url 'edit-produto' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="produto_id" value="{{ prod.id }}">
                                        <label for="nome-editproduto">Nome: 
                                            <input type="text" name="nome" id="nome-editproduto"  value="{{prod.nome}}" placeholder="Digite o nome do produto">
                                        </label>
                                        <label for="descricao-editproduto">Descrição: 
                                            <textarea name="descricao" id="descricao-editproduto" placeholder="Digite a descrição do produto">{{prod.descricao}}</textarea>
                                        </label>
                                        <div class="container-flex">
                                            <label for="preco-editproduto">Preço: 
                                                <input type="text" name="preco" id="preco-editproduto" value="{{prod.preco}}" placeholder="Digite o preço">
                                            </label>
                                            <label for="desconto-editproduto">Desconto (%): 
                                                <input type="number" name="desconto" id="desconto-editproduto" value="{{prod.porcentagem_desconto}}" placeholder="Digite o desconto">
                                            </label>
                                        </div>
                                        <label for="categoria-editproduto"> Categoria:
                                            <select name="categoria" id="categoria-editproduto">
                                                {% for categoria, label in categorias %}
                                                    <option value="{{ categoria }}" {% if prod.categoria == categoria %}selected{% endif %}>
                                                        {{ label }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                        <label for="imagem-editproduto">Imagem do Produto:
                                            <input type="file" name="imagem" id="imagem-editproduto" value="{{ prod.imagem }}" accept="image/*">
                                        </label>
                                        <div class="container-buttons">
                                            <button type="submit" class="button-submit">Atualizar</button>
                                            <button type="button" onclick="fecharEditProduto('{{ prod.id }}')" class="button-cancelar">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- POP UP EXCLUIR PRODUTO -->
                        <div id="excluirproduto-popup-{{prod.id}}" class="excluirproduto-popup popup">
                            <div>
                                <i class="bi bi-x" onclick="fecharExcluirProduto('{{ prod.id }}')"></i>
                                <div class="conteudo-popupExcluir">
                                    <p>Deseja realmente excluir o produto <span style="font-weight: bolder;">{{ prod.nome }}</span>?</p>
                                    <p><b>Essa é uma ação permanente.</b></p>
                                    <i class="bi bi-exclamation-triangle-fill"></i>
                                    <div>
                                        <button onclick="fecharExcluirProduto('{{ prod.id }}')" class="button-cancelar">Cancelar</button>
                                        <form action="{% url 'excluir-produto' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="produto_id" value="{{ prod.id }}">
                                            <button type="submit" class="button-excluir" style="border: 1px solid transparent;">Excluir</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block script %}
    <script>
        const produtosUrl = "{% url 'produtos' %}"
    </script>
    <script src="{% static 'js/admin/produtos.js' %}"></script>
{% endblock %}