{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}{% endblock %}
    <title>Loja - {% block title %}{% endblock %}</title>
</head>
<body>
    <div id="container-geral">
        <header>
            <nav class="navbar-menu">
                <ul class="menu">
                    <li><a href="/"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
                    <li><a href="/promocoes"><i class="bi bi-lightning-charge-fill menu-icon"></i>Promoções</a></li>
                    <li><a href="/meuspedidos"><i class="bi bi-basket3-fill menu-icon"></i>Meus Pedidos</a></li>
                    <li><a href="/meusfavoritos"><i class="bi bi-heart-fill menu-icon"></i>Meus Favoritos</a></li>
                    <li><a href="/perfil"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
                    <li><a href="/notificacoes"><i class="bi bi-bell-fill menu-icon"></i>Notificações</a></li>
                </ul> 
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <div class="footer-copyright text-center py-3">©2020 Copyright:
            <a href="https://www.casadocodigo.com.br/"> Casadocodigo.com.br</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>