{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Página Inicial{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block sidebar %}
    <ul class="menu">
        <li><a href="/" class="active"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
        <li><a href="{% url 'promocoes' %}"><i class="bi bi-lightning-charge-fill menu-icon"></i>Promoções</a></li>
        <li><a href="/maisvendidos"><i class="bi bi-trophy-fill menu-icon"></i>Mais Vendidos</a></li>
        <li><a href="/meuspedidos"><i class="bi bi-basket3-fill menu-icon"></i>Meus Pedidos</a></li>
        <li><a href="/meusfavoritos"><i class="bi bi-heart-fill menu-icon"></i>Meus Favoritos</a></li>
        <li><a href="/perfil"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
    </ul> 
{% endblock %}

{% block content %} 
    <main class="main-home">
        <div class="container-cima-home">
            <section class="pesquisar-produtos">
                <form id="formPesquisa" class="form-pesquisa"> 
                    <div class="container-pesquisa">
                        <input type="text" name="produto" id="inputProduto" placeholder="Encontre o seu produto" class="input-pesquisa">
                        <button type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </form>  
            </section>
            <section class="container-botoes-cima">
                <a href="/notificacoes"><i class="bi bi-bell-fill icon-cima"></i></a>
                <a href="/carrinho"><i class="bi bi-cart-fill icon-cima"></i></a>
                {% if user.is_authenticated %}
                    <a class="ola-usuario" href="/perfil">Olá, <span>{{ user.username|first_name }}</span><i class="bi bi-chevron-down"></i></a>
                {% else %}
                    <a><i class="bi bi-person-fill icon-cima"></i></a>
                    <button class="button-sign"><a href="{% url 'login' %}">Entrar</a></button>
                    <button class="button-sign"><a href="{% url 'cadastro' %}">Cadastrar</a></button>
                {% endif %}
            </section>
        </div>
        <div class="container-mid" id="containerMid">
            <section class="imagens-hero">
                <img src="{% static 'images/imagem_carrossel.png' %}" alt="">
                <div class="container-imagenslaterais">
                    <div class="img-promocao">
                        <h4>{{promocao_maxima}}% OFF</h4>
                        <p>Aproveite já! Descontos de até {{promocao_maxima}}% em suplementos no nosso site! Clique aqui conquiste seus objetivos de saúde hoje mesmo!</p>
                        <button onclick="window.location.href='promocoes'">Confira já</button>
                    </div>
                    <div class="img-produto-cima">
                        <img src="{% static 'images/produto_powerup.png' %}" alt="">
                        <img src="{% static 'images/produto_powerup.png' %}" alt="">
                    </div>
                </div>
            </section>
            <section class="container-maisvendidos">
                <div class="section-title">
                    <h3>Mais Vendidos</h3>
                    <a href="/maisvendidos">
                        <p>Ver mais</p> 
                        <i class="bi bi-chevron-down"></i>
                    </a>
                </div>
                <div class="produtos">
                    {% for prod in produtos %}
                        {% if prod.Promocao == 0 %}
                        <div class="card-produto">
                            <img class="imagem-produto" src="/media/{{prod.Imagem}}" alt="">
                            <button onclick="MudarCoracao(this)" class="button-favoritar"><i class="bi bi-heart"></i></button>
                            <div class="produto-info">
                                <h5 class="titulo-produto">{{prod.Nome}}</h5>
                                <p class="preco-produto">{{prod.Preco}} R$</p>
                            </div>
                            <div class="container-button-carrinho">
                                <button class="button-add-carrinho">Adicionar ao carrinho</button>
                            </div>
                        </div>
                        {% else %}
                        <div class="card-produto">
                            <img class="imagem-produto" src="/media/{{prod.Imagem}}" alt="">
                            <button onclick="MudarCoracao(this)" class="button-favoritar"><i class="bi bi-heart"></i></button>
                            <div class="produto-info">
                                <h5 class="titulo-produto">{{prod.Nome}}</h5>
                                <div>
                                    <p class="preco-produto">{{prod.Preco}} R$</p>
                                    <div class="promocao">
                                        {{prod.Promocao}}% OFF
                                    </div> 
                                </div>
                            </div>
                            <div class="container-button-carrinho">
                                <button class="button-add-carrinho">Adicionar ao carrinho</button>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
            <section class="container-ofertas">
                <div class="section-title">
                    <h3>Ofertas Especiais</h3>
                    <a href="/promocoes">
                        <p>Ver mais</p> 
                        <i class="bi bi-chevron-down"></i>
                    </a>
                </div>
                <div class="produtos">
                    {% for prod in produtos_promocoes|slice:":5" %}
                        {% if prod.Promocao != 0 %}
                        <div class="card-produto">
                            <img class="imagem-produto" src="/media/{{prod.Imagem}}" alt="">
                            <button onclick="MudarCoracao(this)" class="button-favoritar"><i class="bi bi-heart"></i></button>
                            <div class="produto-info">
                                <h5 class="titulo-produto">{{prod.Nome}}</h5>
                                <div>
                                    <p class="preco-produto">{{prod.Preco}} R$</p>
                                    <div class="promocao">
                                        {{prod.Promocao}}% OFF
                                    </div> 
                                </div>
                            </div>
                            <div class="container-button-carrinho">
                                <button class="button-add-carrinho">Adicionar ao carrinho</button>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        </div>
        <section class="pesquisa">
            <div class="produtos">
            </div>
        </section>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </main>
{% endblock %}

{% block script %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}