{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Meu Perfil{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block sidebar %}
    <ul class="menu">
        <li><a href="/"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
        <li><a href="{% url 'promocoes' %}"><i class="bi bi-lightning-charge-fill menu-icon"></i>Promoções</a></li>
        <li><a href="/maisvendidos"><i class="bi bi-trophy-fill menu-icon"></i>Mais Vendidos</a></li>
        <li><a href="/meuspedidos"><i class="bi bi-basket3-fill menu-icon"></i>Meus Pedidos</a></li>
        <li><a href="/meusfavoritos"><i class="bi bi-heart-fill menu-icon"></i>Meus Favoritos</a></li>
        <li><a href="/perfil" class="active"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
    </ul> 
{% endblock %}

{% block content %}
    <main class="main-perfil">
        <section class="container-botoes-cima">
            <a href="/notificacoes"><i class="bi bi-bell-fill icon-cima"></i></a>
            <a href="/carrinho"><i class="bi bi-cart-fill icon-cima"></i></a>
            <a class="ola-usuario" href="/perfil">Olá, <span>{{ user.username|first_name }}</span><i class="bi bi-chevron-down"></i></a>
        </section>
        <div class="container-flex">
            <section class="container-dados-usuario">
                <h3>Meus dados</h3>
                <div class="container-flex dados">
                    <div class="dados-usuario">
                        <p>Nome: <span>{{nome}}</span></p>
                        <p>E-mail: <span>{{email}}</span></p>
                        <p>CPF: <span>{{cpf}}</span></p>
                        <p>Telefone Celular: <span>{{tel_celular}}</span></p>
                    </div>
                    <img src="{% static 'images/imagem-editar.svg' %}" alt="" class="img-editar">
                </div>
                <button>Editar</button>
            </section>
            <section class="container-menu-secundario">
                <h3>Mais Opções</h3>
                <div class="menu-secundario">
                    <div class="item-menu-secundario">
                        <a href="" class="active"><i class="bi bi-person-fill"></i></a>
                        <p>Meus Dados</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href=""><i class="bi bi-basket3-fill"></i></a>
                        <p>Meus Pedidos</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href=""><i class="bi bi-heart-fill menu-icon"></i></a>
                        <p>Meus Favoritos</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href=""><i class="bi bi-wallet2"></i></a>
                        <p>Minha Carteira</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href=""><i class="bi bi-bell-fill"></i></a>
                        <p>Notificações</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href=""><i class="bi bi-bag-check-fill"></i></a>
                        <p>Comprar novamente</p>
                    </div>
                </div>
            </section>
        </div>
        <section class="container-logout">
            <a href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i>Sair</a>
            <a onclick="abrirExcluir()"><i class="bi bi-trash3-fill"></i>Excluir Conta</a>
            <div class="excluirconta-popup popup">
                <div>
                    <i class="bi bi-x" onclick="fecharExcluir()"></i>
                    <div>
                        <p>Deseja realmente excluir a conta?</p>
                        <p><b>Essa é uma ação permanente.</b></p>
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <div>
                            <button onclick="fecharExcluir()" class="button-cancelar">Cancelar</button>
                            <form action="{% url 'excluir' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="button-excluir">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block script %}
    <script>
        excluirPopUp = document.querySelector('.excluirconta-popup')

        function abrirExcluir() {
            excluirPopUp.style.visibility = 'visible'
            excluirPopUp.style.opacity = '1'
        }

        function fecharExcluir() {
            excluirPopUp.style.visibility = 'hidden'
            excluirPopUp.style.opacity = '0'
        }
    </script>
{% endblock %}