{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{produto.nome}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/produto.css' %}">
{% endblock %}

{% block sidebar %}
    <ul class="menu">
        <li><a href="{% url 'home' %}"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
        <li><a href="{% url 'promocoes' %}"><i class="bi bi-lightning-charge-fill menu-icon"></i>Promoções</a></li>
        <li><a href="/maisvendidos"><i class="bi bi-trophy-fill menu-icon"></i>Mais Vendidos</a></li>
        <li><a href="/meuspedidos"><i class="bi bi-basket3-fill menu-icon"></i>Meus Pedidos</a></li>
        <li><a href="{% url 'meus-favoritos' %}"><i class="bi bi-heart-fill menu-icon"></i>Meus Favoritos</a></li>
        <li><a href="{% url 'perfil' %}"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
    </ul> 
{% endblock %}

{% block content %}
    <main>
        <div class="container-cima">
            <h3>{{produto.nome}}</h3>
            <section class="container-botoes-cima">
                <div class="notificacao-container">
                    <a href="{% url 'notificacoes' %}">
                        <i class="bi bi-bell-fill icon-cima"></i>
                    </a>
                    {% if notificacoes_nao_lidas > 0 %}
                        <span class="notificacoes-nao-lidas">{{ notificacoes_nao_lidas }}</span>
                    {% endif %}
                </div>
                <a href="/carrinho"><i class="bi bi-cart-fill icon-cima"></i></a>
                {% if user.is_authenticated %}
                    <a class="ola-usuario" href="{% url 'perfil' %}">Olá, <span>{{ user.username|first_name }}</span><i class="bi bi-chevron-down"></i></a>
                {% else %}
                    <a><i class="bi bi-person-fill icon-cima"></i></a>
                    <button class="button-sign"><a href="{% url 'login' %}">Entrar</a></button>
                    <button class="button-sign"><a href="{% url 'cadastro' %}">Cadastrar</a></button>
                {% endif %}
            </section>
        </div>
        <section class="container-detalhes-produto">
            <img src="/media/{{produto.imagem}}" alt="Imagem do produto {{produto.nome}}">
            <div class="detalhes-produto">
                <div class="descricao-produto">
                    <h5>Informações do produto</h5>
                    <p>{{produto.descricao}}</p>
                </div>
                <div class="container-preco">
                    <p>R${{produto.preco}}</p>
                    {% if produto.porcentagem_desconto != 0 %}
                        <div class="icon-raio"><i class="bi bi-lightning-charge-fill"></i></div>
                    {% endif %}
                </div>
                <form action="">
                    <label for="qtd_produto">Quantidade: <input type="number" name="qtd_produto" id="qtd_produto" placeholder="0"></label>
                    <button type="submit">Adicionar ao carrinho</button>
                </form>
            </div>
        </section>
        <section class="produtos-relacionados">
            {% if produtos_relacionados %}
                <h3>Produtos relacionados</h3>
                <div class="produtos">
                    {% for prod in produtos_relacionados %}
                        <a class="card-produto" href="{% url 'produto' prod.id %}">
                            <div class="container-imgProduto">
                                <img class="imagem-produto" src="/media/{{prod.imagem}}" alt="">
                            </div>
                            <form action="{% url 'favorito' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="produto_id" value="{{ prod.id }}">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {% if prod.id in favoritos_cliente %}
                                    <button type="submit" class="button-favoritar"><i class="bi bi-heart-fill"></i></button>
                                {% else %}
                                    <button type="submit" class="button-favoritar"><i class="bi bi-heart"></i></button>
                                {% endif %}
                            </form>
                            {% if prod.porcentagem_desconto == 0 %}
                                <div class="produto-info">
                                    <h5 class="titulo-produto">{{prod.nome}}</h5>
                                    <p class="preco-produto">{{prod.preco}} R$</p>
                                </div>
                            {% else %}
                                <div class="produto-info">
                                    <h5 class="titulo-produto">{{prod.nome}}</h5>
                                    <div>
                                        <p class="preco-produto">{{prod.preco}} R$</p>
                                        <div class="promocao">
                                            {{prod.porcentagem_desconto}}% OFF
                                        </div> 
                                    </div>
                                </div>
                            {% endif %}
                            <div class="container-button-carrinho">
                                <button class="button-add-carrinho">Adicionar ao carrinho</button>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}