@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree';
}

:root {
    --light-green: #20E500;
    --dark-green: #1bc800; 
    --light-grey: #e9e9e9; 
    --dark-grey: #404040;
}

#container-header-main {
    display: flex;
    margin: 4em 4em;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-right: 4em;
    & img {
        width: 180px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    & li {
        list-style-type: none;
        & a {
            display: flex;
            align-items: center;
            color: var(--dark-grey);
            font-size: 1.2em;
            padding-left: .7em;
            font-weight: 500;
            transition: .3s;
        }
        & a:hover {
            text-decoration: none;
            color: var(--dark-green);
        }
    }
}

.menu-icon {
    margin-right: .8rem;
    font-size: 1.2em;
} 

.active {
    color: var(--dark-green) !important;
    border-left: 2px solid var(--dark-green);
}

.ajuda {
    width: 5%;
    display: flex;
    align-items: center;
    color: var(--dark-grey);
    font-size: 1.2em;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
    margin-left: 4em;
    & i {
        color: var(--dark-grey);
    }
}

.ajuda:hover {
    width: 50%;
    color: var(--dark-green);
}

.ajuda-popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s, opacity .3s;
}

.ajuda-popup > div {
    width: 30em;
    height: 20em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 50px black;
    padding: 0.3em;
    position: relative;
    & i {
        position: absolute;
        top: 0;
        right: 3%;
        font-size: 2.5em;
        cursor: pointer;
    }
    & div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        & p {
            width: 80%;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}

.texto-centro {
    text-align: center;
}
.email {
    border-bottom: 1px solid #117C00;
    width: 60% !important;
}

main {
    width: 100%;
}

footer {
    background-color: var(--dark-grey);
    color: white;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    padding: 3em 0;
    margin-top: 3em;
    & > div {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.img-footer img {
    width: 250px;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    & div {
        display: flex;
        gap: 3em;
        & li {
            list-style-type: none;
            & a {
                color: white;
                font-size: 1.1em;
                transition: .3s;
            }
            & a:hover {
                color: var(--dark-green);
                text-decoration: none;
            }
        } 
    }
}

.menu-pt2 {
    display: flex;
    justify-content: center;
}

.footer-redes {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 250px;
    & img {
        width: 40px;
    }
    & i {
        color: white;
        font-size: 2em;
    }
}