body {
    display: flex;
}

.container-foto-cadastro {
    width: 40%;
    height: 100vh;
    position: relative;
    & img {
        width: 100%;
        height: 100vh;
    }
    & a {
        position: absolute;
        left: 47%;
        top: 3%;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 500;
    }
}

.container-form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    justify-content: center;
    position: relative;
    & h4 {
        color: #117C00;
        font-size: 1.2em;
        position: absolute;
        top: 3%;
    }
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 70%;
    & button {
        width: 18%;
        background-color: var(--dark-grey);
        border: none;
        border-radius: 6px;
        color: var(--light-green);
        padding: .8em 1em;
        cursor: pointer;
        font-size: 1.1em;
        margin-top: 2em;
    }
}

.container-input-alinhado {
    display: flex;
    justify-content: space-between;
    & input {
        width: 20em;
    }
}

.container-input-cadastro {
    display: flex;
    flex-direction: column;
    gap: 1em;
    & label {
        font-weight: bold;
    }
    & input {
        border: 2px solid var(--dark-green);
        border-radius: 6px;
        padding: .6em 1em;
        font-size: 1.05em;
        outline: none;
    }
}

input:-webkit-autofill {
    background-color: transparent !important; 
    font-size: 1.1em !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; 
    -webkit-text-fill-color: black !important; 
}

.message {
    width: 70%;
    border-radius: 6px;
    margin-bottom: 1em;
    padding: 1em 1em;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}