table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid var(--light-grey);
    padding: 12px;
    text-align: center;
}

td {
    color: var(--dark-grey);
}

th {
    background-color: var(--dark-grey);
    color: white;
    font-weight: bold;
}

th:nth-child(1), td:nth-child(1) { width: 5%; } 
th:nth-child(2), td:nth-child(2) { width: 20%; } 
th:nth-child(3), td:nth-child(3) { width: 27%; } 
th:nth-child(4), td:nth-child(4) { width: 10%; } 
th:nth-child(5), td:nth-child(5) { width: 15%; }

.editdevolucao-popup > div {
    width: 25em;
    height: 20em;
    padding: 0 3em;
}

.conteudo-popupEditDevolucao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    & h5 {
        font-weight: 600;
        font-size: 1.4em;
        & span {
            font-weight: bolder;
        }
    }
}

.detalhesdevolucao-popup > div {
    width: 30em;
    min-height: 15em;
    max-height: 50em;
    height: auto;
    padding: 2em 3em;
}

.conteudo-popupDetalhesDevolucao {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    & h5 {
        font-weight: 600;
        font-size: 1.6em;
        & span {
            font-weight: bolder;
        }
    }
    & > div {
        display: flex;
        flex-direction: column;
        gap: 2em;
        & figure {
            display: inline-block;
            background-color: #222; /* Cor neutra escura */
            padding: 10px;
            border-radius: 8px; /* Bordas arredondadas */
            text-align: center;
            & img {
                max-width: 100%;
                height: auto;
                display: block;
                border-radius: 5px; 
            }
        }
    }
}