.produtos-finalizarpedido::-webkit-scrollbar {
    width: 12px; 
}
.produtos-finalizarpedido::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.produtos-finalizarpedido::-webkit-scrollbar-thumb {
    background-color: #0f7200; 
    border-radius: 10px;
}
.produtos-finalizarpedido::-webkit-scrollbar-thumb:hover {
    background: var(--dark-grey);
}

form {
    display: flex;
    gap: 4em;
    & > div {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

.container-endereco-cartao {
    display: flex;
    gap: 2em;
}

.endereco-cartao {
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    border-radius: 20px;
    padding: 1em 2em;
    min-height: 130px;
    max-width: 380px; 
    & h4 {
        font-size: 1.4em;
        font-weight: 600;
    }
    & select {
        border: 2px solid var(--dark-green);
        border-radius: 6px;
        padding-left: .3em;
        outline: none;
        text-overflow: ellipsis;
    }
    & div {
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        & p {
            font-weight: 500;
            font-size: 1.15em;
        }
        & a {
            background-color: var(--dark-grey);
            color: var(--light-green);
            border-radius: 5px;
            text-align: center;
            padding: .3em .2em;
            width: 50%;
        }
    }
}

.container-produtos {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    max-width: 792px;
    border-radius: 20px;
    padding: 1em 2em;
    & h4 {
        font-size: 1.4em;
        font-weight: 600;
    }
}

.container-produto {
    min-width: 680px;
    display: flex;
    gap: 2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    border-radius: 20px;
    position: relative;
    & img {
        border-radius: 20px;
        width: 230px;
    }
    & a {
        position: absolute;
        top: 3%;
        right: 3%;
        background-color: var(--dark-grey);
        clip-path: circle(40%);
        padding: .2em;
        cursor: pointer;
        & i {
            color: var(--dark-green);
            font-size: 1.8em;
        }
    }
}

.produtos-finalizarpedido {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: .3em 1em .3em .3em;
    max-height: 32em;
    overflow-y: auto;
}

.container-produto-info {
    display: flex;
    flex-direction: column;
    gap: .7em;
    padding: 1em 0;
    & p {
        font-weight: bold;
        font-size: 1.1em;
        & span {
            font-weight: 500;
        }
    }
}

.nome-porcentagem {
    display: flex;
    align-items: center;
    gap: 1em;
    & h5 {
        font-size: 1.55em;
        max-width: 350px;
        margin-bottom: 0;
    }
    & div {
        background-color: var(--dark-grey);
        color: var(--light-green);
        border-radius: 5px;
        padding: .2em .4em;
        font-size: .9em;
    }
}

.preco-info {
    display: flex;
    flex-direction: column;
    gap: .7em;
    margin-top: 2em;
}

#subtotal {
    font-size: 1.3em;
}

.container-total {
    width: 450px;
    height: 600px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    border-radius: 20px;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
        width: 350px;
    }
}

.total-info {
    display: flex;
    flex-direction: column;
    & div {
        display: flex;
        justify-content: space-between;
        gap: 10em;
        margin-bottom: 1em;
        & p, span {
            font-size: 1.3em;
            font-weight: 600;
        }
    }
    & button {
        display: block;
        width: 100%;
        margin-top: 2em !important;
        border: none;
        border-radius: 10px;
        background-color: var(--dark-grey);
        color: var(--light-green) !important;
        padding: .5em 0;
        cursor: pointer;
        text-align: center;
    }
}