.form-pesquisa {
    width: 51.5em;
}

.container-pesquisa {
    position: relative;
    width: 100%;
    & button {
        background-color: transparent;
        border: none;
        position: absolute;
        left: 0;
        top: 15%;
        cursor: pointer;
        margin-left: 1em;
        & i {
            color: var(--light-green);
            font-size: 1.2em;
        }
    }
}

.input-pesquisa {
    background-color: var(--dark-grey);
    color: white;
    width: 100%;
    padding: .75rem 3rem;
    border-radius: 10px;
    border: none;
    outline: none;
}

.input-pesquisa::placeholder {
    color: rgba(255, 255, 255, 0.623);
}
 
.container-cima-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* BOOTSTRAP CARROSSEL */
.carousel-item {
    width: 100%;
    transition: transform 1s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 1s ease-in-out;
}

.carousel-inner {
    transition: transform 1s ease-in-out; 
}

.carousel-indicators {
    position: absolute;
    bottom: -55px;
}

.carousel-indicators  button {
    width: 18px !important; 
    height: 18px !important; 
    border-radius: 50% !important; 
    background-color: black !important; 
}

.carousel-indicators .active {
    width: 50px !important;
    height: 18px !important; 
    background-color: var(--dark-green) !important;
    border-radius: 10px / 50% !important;
}

.imagens-carrosel {
    height: 600px;
    object-fit: cover;
    border-radius: 50px;
}

.container-mid {
    display: flex;
    flex-direction: column;
    gap: 8em;
}

.container-categorias {
    & h3 {
        font-weight: bold;
        font-size: 1.8em;
        margin-bottom: 1em;
    }
}

.categorias {
    display: flex;
    justify-content: space-between;
    & a {
        background-color: var(--dark-green);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.60);
        border-radius: 10px;
        width: 21%;
        height: 100px;
        padding: 2em 0;
        gap: 3em;
        & svg {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            & path {
                fill: black;
            }
        }
        & h5 {
            color: white;
            font-size: 1.3em;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    & a:nth-child(odd) {
        background-color: var(--dark-grey);
        & path {
            fill: var(--dark-green);
        }
    }
}

#icone-acessorios {
    width: 30px;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & h3 {
        font-weight: bold;
        font-size: 1.8em;
        margin-bottom: 1em;
    }
    & a {
        display: flex;
        align-items: center;
        gap: .5em;
        & p {
            margin-bottom: 0em;
            color: black;
            font-weight: bold;
            font-size: 1.2em;
        }
        & i {
            color: var(--dark-green);
            font-size: 1.5em;
        }
    }
    & a:hover {
        text-decoration: none;
    }
}