body {
    display: flex;
    flex-direction: row;
}

.container-foto-login {
    width: 40%;
    height: 100vh;
    position: relative;
    & img {
        width: 100%;
        height: 100vh;
    }
}

.criar-conta {
    position: absolute;
    top: 3%;
    left: 47%;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.button-fechar {
    z-index: 1000;
    color: white;
    position: absolute;
    right: 5%;
    top: 1.5%;
    font-size: 3em;
}

.container-form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    justify-content: center;
    position: relative;
    & h4 {
        color: #117C00;
        font-size: 1.2em;
        position: absolute;
        top: 3%;
    }
    & h2 {
        font-weight: 500;
    }
    & a {
        text-decoration: none;
        color: #117C00;
        font-weight: 500; 
        font-size: 1.1em;
    }
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 50%;
    margin: 3em 0;
    & button {
        width: 18%;
        background-color: var(--dark-grey);
        border: none;
        border-radius: 6px;
        color: var(--light-green);
        padding: .8em 1em;
        cursor: pointer;
        font-size: 1.1em;
    }
}

.container-input-alinhado {
    display: flex;
    justify-content: space-between;
    & input {
        width: 20em;
    }
}

.container-input-login {
    display: flex;
    flex-direction: column;
    gap: 1em;
    & label {
        font-weight: bold;
    }
    & input {
        border: 2px solid var(--dark-green);
        border-radius: 6px;
        padding: .6em 1em;
        font-size: 1.05em;
        outline: none;
    }
}

input:-webkit-autofill {
    background-color: transparent !important; 
    font-size: 1.1em !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; 
    -webkit-text-fill-color: black !important; 
}

.message {
    width: 50%;
    border-radius: 6px;
    margin-bottom: 1.5em;
    padding: 1em 1em;
}

.error {
    background-color: #FFD5D6;
    color: #8A4246;
}

.success {
    background-color: #a0d6a6;
    color: #055902;
}

.container-esqueceusenha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    & a {
        font-size: 1em;
    }
}


.redefinir-senha {
    display: flex;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}
.redefinir-senha-popup>div {
    width: 35em;
    height: 22em;
}


.redefinir-senha-popup > div {
    & i {
        position: absolute;
        top: 0;
        right: 3%;
        font-size: 2.5em;
        cursor: pointer;
    }
    > div {
        height: 100%;
        display: flex;
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
        & h1 {
            font-weight: 600;
        }
        & h2{
            font-weight: 500;
            font-size: 1.1em;
        }
    }
}

#container-enviar{
    margin-top: 2.5em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.2em;
    
    & button{
        margin-top: 1.8em;
        text-align: center;
        width: 18%;
        background-color: var(--dark-grey);
        border: none;
        border-radius: 6px;
        color: var(--light-green);
        padding: .8em 1em;
        cursor: pointer;
        font-size: 1.1em;
    }
}

.container-input-email-redefinicao-senha {
    display: flex;
    flex-direction: column;
    text-align: left;

    & input {
        border: 3px solid var(--dark-green);
        border-radius: 6px;
        padding: .6em 1.7em;
        font-size: 1.05em;
        outline: none;
        width: 400px;
    }

}



.solicitacao-senha {
    display: flex;
    align-items: center;
    transition: .01s;
    cursor: pointer;
}

.solicitacao-senha-popup > div {
    width: 35em;
    height: 22em;
}



.solicitacao-senha-popup > div {
    & i {
        position: absolute;
        top: 0;
        right: 3%;
        font-size: 2.5em;
        cursor: pointer;
    }
    > div {
        height: 100%;
        display: flex;
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
        & h1 {
            font-weight: 600;
        }
        & h2{
            font-weight: 500;
            font-size: 1.1em;
        }
    }
}


.mensagem-sucesso {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    & div{
        margin-top: 2.5em;
    }   
}

.mensagem-sucesso h1 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.mensagem-sucesso p {
    margin-top: 20px;
    font-size: 1em;
}


input:-webkit-autofill {
    background-color: transparent !important; 
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; 
    -webkit-text-fill-color: black !important; 
}
