.container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-addLote {
    display: flex;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--light-green);
    border: none;
    border-radius: 40px;
    text-align: center;
    padding: .3em 1.2em;
    font-size: 1.15em;
    & i {
        font-size: 1.4em;
        margin-left: .3em;
    }
}

.container-lote-vencimento .produto-info div p{
    font-size: 1em;
    font-weight: 500;
    width: 100%;
    & span {
        font-weight: bolder;
    }
}

.container-buttons {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    padding: 0 1.5em;
}

.editlote-popup > div {
    width: 35em;
    height: 25em;
    padding: 0 3em;
}

.conteudo-popupEditLote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    & h5 {
        font-weight: 600;
        font-size: 1.4em;
        margin-bottom: 1em;
        & span {
            font-weight: bolder;
        }
    }
    & form {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        & label {
            font-weight: bold;
        }
        & input {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding-left: .3em;
            outline: none;
        }
        & select {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding-left: .3em;
            outline: none;
        }
    }
}

.conteudo-popupExcluir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
        width: 80%;
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
    }
    & .bi-exclamation-triangle-fill {
        font-size: 3em;
        margin: .2em 0 .5em 0;
    }
    &  div{
        display: flex;
        gap: 3.5em;
    }
}