.pedidos::-webkit-scrollbar {
    width: 12px; 
}
.pedidos::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.pedidos::-webkit-scrollbar-thumb {
    background-color: #0f7200; 
    border-radius: 10px;
}
.pedidos::-webkit-scrollbar-thumb:hover {
    background: var(--dark-grey);
}

.pedidos {
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-height: 40em;
    overflow-y: auto;
    padding: .1em 1em .2em .1em; 
}

.container-pedido {
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    border-radius: 20px;
    min-width: 750px;
    & img {
        border-radius: 20px;
        width: 240px;
        aspect-ratio: 1/1;
    }
    & h3 {
        font-size: 1.5em;
    }
}

#data {
    font-size: .9em;
    color: #868686;
}

.pedido-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .8em 2em;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
    margin-right: 1em;
    gap: 1em;
    padding-bottom: 1em;
}

.detalhespedido-popup > div {
    width: 55em;
    height: 40em;
    padding: 2em 3em;
}

.conteudo-popup {
    display: flex;
    flex-direction: column;
    & h5 {
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: 1em;
        & span {
            font-weight: bolder;
        }
    }
}

.avaliarproduto-popup > div {
    width: 30em;
    height: 18em !important;
    padding: 2em 2em;
}

.conteudo-popupAvaliarProduto {
    gap: 2em;
    & form {
        display: flex;
        flex-direction: column;
        gap: 3em;
        & label {
            font-weight: bolder;
        }
        & select {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding-left: .3em;
            outline: none;
        }
    }
}

.devolverproduto-popup > div {
    width: 30em;
    min-height: 33em;
    height: auto;
    padding: 2em 3em;
}

.conteudo-popupDevolverProduto {
    gap: 2em;
    & form {
        display: flex;
        flex-direction: column;
        gap: 2em;
        & .div-label {
            display: flex;
            flex-direction: column;
            gap: .5em;
        }
        & label {
            font-weight: bolder;
        }
        & textarea {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding-left: .3em;
            outline: none;
            height: 120px;
        }
       
    }
}

.container-buttons-flex {
    display: flex;
    gap: 1em;

}

.pedido-itens {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 40em;
    overflow-y: auto;
    padding: .2em 1em .2em .2em;
}

.container-item {
    min-width: 700px;
    display: flex;
    gap: 2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    border-radius: 20px;
    position: relative;
    & img {
        border-radius: 20px;
        width: 230px;
    }
}

.container-item-info {
    display: flex;
    flex-direction: column;
    gap: .7em;
    padding: 1em 0;
    width: 60%;
    & p {
        font-weight: bold;
        font-size: 1.1em;
        & span {
            font-weight: 500;
        }
    }
}

.nome-porcentagem {
    display: flex;
    align-items: center;
    gap: 1em;
    & h3 {
        font-size: 1.55em;
        margin-bottom: 0;
    }
    & div {
        background-color: var(--dark-grey);
        color: var(--light-green);
        border-radius: 5px;
        padding: .2em .4em;
        font-size: .9em;
    }
}

.preco-info {
    display: flex;
    flex-direction: column;
    gap: .7em;
    margin-top: 2em;
}

#subtotal {
    font-size: 1.3em;
}

.conteudo-popupCancelarPedido, .conteudo-popupConfirmarRecebimento {
    justify-content: center;
    align-items: center;
    & p {
        width: 80%;
        font-weight: 600;
        font-size: 1.4em;
        text-align: center;
    }
    & .bi-exclamation-triangle-fill, .bi-check-circle-fill {
        font-size: 3em;
        margin: .2em 0 .5em 0;
    }
    &  div{
        display: flex;
        gap: 3.5em;

    }
}

.conteudo-popupCancelarPedido .button-excluir {
    border: 1px solid transparent;
}