/* USER */
.container-notificacoes::-webkit-scrollbar {
    width: 12px; 
}
.container-notificacoes::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.container-notificacoes::-webkit-scrollbar-thumb {
    background-color: #0f7200; 
    border-radius: 10px;
}
.container-notificacoes::-webkit-scrollbar-thumb:hover {
    background: var(--dark-grey);
}

.container-menu-secundario h4 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 1em;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.notificacoes-wrapper {
    position: relative;
}

.notificacoes-wrapper a {
    position: absolute;
    top: -8%;
    right: 0;
    color: var(--dark-grey);
    font-weight: 500;
}

.container-notificacoes {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-height: 45em;
    overflow-y: auto;
    padding-right: 1em;
}


.notificacao {
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    gap: 2em;
    border-radius: 20px;
    padding: 2em 1em;
    min-width: 30em;
    max-width: 50em;
    position: relative;
    & i {
        background-color: var(--dark-grey);
        padding: .8em;
        font-size: 1.5em;
        color: var(--light-green);
        clip-path: circle(40%);
    }
}

#texto {
    word-break: break-word;
    font-size: 1.1em;
    font-weight: 500;
}

#data {
    font-size: .75em;
    position: absolute;
    color: grey;
    right: 4%;
    bottom: 6%;
}

#sem-notificacao {
    font-size: 1.5em;
}

/* ADMIN */
.button-addNotificacao {
    display: flex;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--light-green);
    border: none;
    border-radius: 40px;
    text-align: center;
    padding: .3em 1.2em;
    font-size: 1.15em;
    & i {
        font-size: 1.4em;
        margin-left: .3em;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid var(--light-grey);
    padding: 12px;
    text-align: center;
}

th {
    background-color: var(--dark-grey);
    color: white;
    font-weight: bold;
}

th:nth-child(1), td:nth-child(1) { width: 5%; } 
th:nth-child(2), td:nth-child(2) { width: 17%; } 
th:nth-child(3), td:nth-child(3) { width: 12%; } 
th:nth-child(4), td:nth-child(4) { width: 20%; } 
th:nth-child(5), td:nth-child(5) { width: 25%; }
th:nth-child(6), td:nth-child(6) { width: 13%; }

td {
    color: var(--dark-grey);
}

.acoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.addnotificacao-popup > div {
    width: 40em;
    height: 40em;
    padding: 0 3em;
}

.editnotificacao-popup > div {
    width: 40em;
    height: 35em;
    padding: 0 3em;
}

.conteudo-popupEditNotificacao, .conteudo-popupAddNotificacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    & h5 {
        font-weight: 600;
        font-size: 1.6em;
        & span {
            font-weight: bolder;
        }
    }
    & label {
        font-weight: bold;
    }
    & input {
        border: 2px solid var(--dark-green);
        border-radius: 6px;
        padding-left: .3em;
        outline: none;
    }
    & textarea {
        border: 2px solid var(--dark-green);
        border-radius: 6px;
        padding: 0.3em;
        outline: none;
        width: 100%;
        height: 7em; 
        line-height: 1.5; 
        overflow-y: auto; 
        word-wrap: break-word; 
    }
    & select {
        border: 2px solid var(--dark-green);
        border-radius: 6px;
        padding-left: .2em;
        outline: none;
    }
    & .container-buttons {
        padding: 0;
        width: 100%;
        align-items: left;
    }
}

.conteudo-popupAddNotificacao form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    & select[name='cliente_id'] {
        width: 52%;
    }
    & label[for='enviar_todos'] {
        display: flex;
        align-items: center;
        gap: .8em;
        & input {
            transform: scale(1.2);
        }
    }
}

.conteudo-popupEditNotificacao 
    & label[for='cliente-editnotificacao'] {
        width: 100%;
    }
    & select[name='cliente_id'] {
        width: 50%;
    }
    & label[for='titulo-editnotificacao'] {
        width: 100%;
    }
    & input[name='titulo'] {
        width: 51.8%;
    }
    & label[for='texto-editnotificacao'] {
        width: 100%;
    }
    & label[for='categoria-editnotificacao'] {
        width: 100%;
    }
    & select[name="categoria"] {
        width: 46%;
}


.conteudo-popupExcluir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
        width: 80%;
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
    }
    & .bi-exclamation-triangle-fill {
        font-size: 3em;
        margin: .2em 0 .5em 0;
    }
    &  div{
        display: flex;
        gap: 2em;
    }
}