.pedido-itens::-webkit-scrollbar {
    width: 12px; 
}
.pedido-itens::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.pedido-itens::-webkit-scrollbar-thumb {
    background-color: #0f7200; 
    border-radius: 10px;
}
.pedido-itens::-webkit-scrollbar-thumb:hover {
    background: var(--dark-grey);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid var(--light-grey);
    padding: 12px;
    text-align: center;
}

th {
    background-color: var(--dark-grey);
    color: white;
    font-weight: bold;
}

th:nth-child(1), td:nth-child(1) { width: 5%; } 
th:nth-child(2), td:nth-child(2) { width: 25%; } 
th:nth-child(3), td:nth-child(3) { width: 15%; } 
th:nth-child(4), td:nth-child(4) { width: 20%; } 
th:nth-child(5), td:nth-child(5) { width: 20%; }

td {
    color: var(--dark-grey);
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.btn-ver {
    color: white;
    background-color: blue;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    padding: .3em .9em;
}

.detalhespedido-popup > div {
    width: 55em;
    min-height: 35em;
    max-height: 50em;
    height: auto;
    padding: 2em 3em;
}

.conteudo-popupDetalhesPedido {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    & h5 {
        font-weight: 600;
        font-size: 1.6em;
        & span {
            font-weight: bolder;
        }
    }
    & h6 {
        font-weight: 600;
        font-size: 1.3em;
        margin-bottom: 1em;
    }
    & p {
        font-weight: bold;
        font-size: 1.1em;
        & span {
            font-weight: 500;
        }
    }
    & > div {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }
}

.pedido-itens {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-height: 30em;
    overflow-y: auto;
    padding: .2em 1em .2em .2em;
}

.container-item {
    min-width: 700px;
    display: flex;
    gap: 2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    border-radius: 20px;
    position: relative;
    padding-right: 2em;
    & img {
        border-radius: 20px;
        width: 230px;
    }
}

.container-item-info {
    display: flex;
    flex-direction: column;
    gap: .7em;
    padding: 1em 0;
    width: 100%;
}

.nome-porcentagem {
    display: flex;
    align-items: center;
    gap: 1em;
    & h3 {
        font-size: 1.55em;
        margin-bottom: 0;
    }
    & div {
        background-color: var(--dark-grey);
        color: var(--light-green);
        border-radius: 5px;
        padding: .2em .4em;
        font-size: .9em;
    }
}

.preco-info {
    display: flex;
    flex-direction: column;
    gap: .7em;
    margin-top: 2em;
}

#subtotal {
    font-size: 1.3em;
}

.editpedido-popup > div {
    width: 25em;
    height: 20em;
    padding: 0 3em;
}

.conteudo-popupEditPedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    & h5 {
        font-weight: 600;
        font-size: 1.4em;
        & span {
            font-weight: bolder;
        }
    }
}

.conteudo-popupExcluir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
        width: 80%;
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
    }
    & .bi-exclamation-triangle-fill {
        font-size: 3em;
        margin: .2em 0 .5em 0;
    }
    &  div{
        display: flex;
        gap: 2em;
    }
}