.container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-addProduto {
    display: flex;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--light-green);
    border: none;
    border-radius: 40px;
    text-align: center;
    padding: .3em 1.2em;
    font-size: 1.15em;
    & i {
        font-size: 1.4em;
        margin-left: .3em;
    }
}

/* #editproduto-popup-1 {
    visibility: visible;
} */

.editproduto-popup > div {
    width: 40em;
    height: 35em;
    padding: 0 3em;
}

.conteudo-popupEditProduto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    & h5 {
        font-weight: 600;
        font-size: 1.4em;
        margin-bottom: 1em;
        & span {
            font-weight: bolder;
        }
    }
    & form {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        & label {
            font-weight: bold;
        }
        & input {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding-left: .3em;
            outline: none;
        }
        & textarea {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding: 0.3em;
            outline: none;
            width: 100%;
            height: 7em; 
            line-height: 1.5; 
            overflow-y: auto; 
            word-wrap: break-word; 
        }
        & input[name='nome'] {
            width: 90%;
        }
        & input[name='descricao'] {
            width: 100%;
        }
        & label[for='preco-editproduto'] {
            width: 68%;
        }
        & input[name='preco'] {
            width: 50.3%;
        }
        & label[for='desconto-editproduto'] {
            width: 50%;
        }
        & input[name='desconto'] {
            width: 50%;
        }
        & select {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding-left: .2em;
            outline: none;
        }
        & .container-buttons {
            padding: 0;
        }
    }
}

.container-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container-buttons {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    padding: 0 1.5em;
}

.button-submit {
    background-color: var(--dark-grey);
    color: var(--light-green);
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    padding: .3em .9em;
}

.button-excluir {
    border: none;
    border-radius: 5px;
    padding: .3em .9em;
    background-color: #ff360a;
    color: white;
}

.button-cancelar {
    background-color: transparent;
    color: black;
    border: 2px solid var(--dark-green);
    border-radius: 5px;
    text-align: center;
    padding: .3em .9em;
}