.container-detalhes-produto {
    display: flex;
    gap: 3em;
    & img {
        width: 400px;
        height: 400px;
        border-radius: 30px;

    }
}

.detalhes-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 1em; */
    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
        & label {
            font-weight: 500;
            font-size: 1.1em;
            display: flex;
            gap: .5em;
        }
        & input {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding-left: .3em;
            outline: none;
            width: 8%;
        }
        & button {
            width: 40%;
            background-color: var(--dark-grey);
            color: var(--light-green);
            border: none;
            border-radius: 5px;
            padding: .5em .3em;
            border: 1px solid transparent;
            transition: .15s;
        }
        & button:hover {
            transform: scale(1.02);
            outline: none;
        }
    }
}

.descricao-produto {
    color: var(--dark-grey);
    border: 1px solid #c6c6c6;
    border-radius: 7px;
    padding: 1em;
    width: 40em;
}

.container-preco {
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin: 1em 0;
    & p {
        font-size: 2em;
        font-weight: 500;
    }
}

.icon-raio {
    background-color: var(--dark-grey);
    border-radius: 7px;
    padding: .1em 2em;
    & i {
        color: var(--light-green);
        font-size: 1.5em;
    }
}

.estoque {
    font-weight: 500;
    margin-bottom: .3em;
    & span {
        font-weight: 700;
    }
}

.produtos-relacionados {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    & h3 {
        font-size: 1.7em;
    }
}