.button-addProduto {
    display: flex;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--light-green);
    border: none;
    border-radius: 40px;
    text-align: center;
    padding: .3em 1.2em;
    font-size: 1.15em;
    & i {
        font-size: 1.4em;
        margin-left: .3em;
    }
}

.editproduto-popup > div, .addproduto-popup > div {
    width: 40em;
    height: 40em;
    padding: 0 3em;
}

.conteudo-popupEditProduto, .conteudo-popupAddProduto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    & h5 {
        font-weight: 600;
        font-size: 1.4em;
        margin-bottom: 1em;
        & span {
            font-weight: bolder;
        }
    }
    & form {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        & label {
            font-weight: bold;
        }
        & input {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding-left: .3em;
            outline: none;
        }
        & textarea {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding: 0.3em;
            outline: none;
            width: 100%;
            height: 7em; 
            line-height: 1.5; 
            overflow-y: auto; 
            word-wrap: break-word; 
        }
        & input[name='nome'] {
            width: 100%;
        }
        & input[name='descricao'] {
            width: 100%;
        }
        & label[for='preco-editproduto'] {
            width: 68%;
        }
        & input[name='preco'] {
            width: 50.3%;
        }
        & label[for='desconto-editproduto'] {
            width: 50%;
        }
        & input[name='desconto'] {
            width: 50%;
        }
        & input[name='imagem'] {
            border: none;
        }
        & select {
            border: 2px solid var(--dark-green);
            border-radius: 6px;
            padding-left: .2em;
            outline: none;
        }
        & .container-buttons {
            padding: 0;
        }
    }
}

.conteudo-popupExcluir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
        width: 80%;
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
    }
    & .bi-exclamation-triangle-fill {
        font-size: 3em;
        margin: .2em 0 .5em 0;
    }
    &  div{
        display: flex;
        gap: 2em;
    }
}

.container-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container-buttons {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    padding: 0 1.5em;
}