{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Meu Perfil{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block sidebar %}
    <ul class="menu">
        <li><a href="/"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
        <li><a href="{% url 'promocoes' %}"><i class="bi bi-lightning-charge-fill menu-icon"></i>Promoções</a></li>
        <li><a href="/maisvendidos"><i class="bi bi-trophy-fill menu-icon"></i>Mais Vendidos</a></li>
        <li><a href="/meuspedidos"><i class="bi bi-basket3-fill menu-icon"></i>Meus Pedidos</a></li>
        <li><a href="/meusfavoritos"><i class="bi bi-heart-fill menu-icon"></i>Meus Favoritos</a></li>
        <li><a href="/perfil" class="active"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
    </ul> 
{% endblock %}

{% block content %}
    <main class="main-perfil">
        <div class="container-cima">
            <h3>Meus Dados</h3>
            <section class="container-botoes-cima">
                <div class="notificacao-container">
                    <a href="{% url 'notificacoes' %}">
                        <i class="bi bi-bell-fill icon-cima"></i>
                    </a>
                    {% if notificacoes_nao_lidas > 0 %}
                        <span class="notificacoes-nao-lidas">{{ notificacoes_nao_lidas }}</span>
                    {% endif %}
                </div>
                <a href="/carrinho"><i class="bi bi-cart-fill icon-cima"></i></a>
                <a class="ola-usuario" href="/perfil">Olá, <span>{{ user.username|first_name }}</span><i class="bi bi-chevron-down"></i></a>
            </section>
        </div>
        {% if messages %}
            {% for message in messages %} 
                {% if 'page' in message.tags %}
                    <div class="message {{ message.tags }} message-dados">
                        <span>{{ message }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="container-flex">
            <section class="container-dados-usuario">
                <h4>Dados Pessoais</h4>
                <div class="container-flex dados">
                    <form action="{% url 'edit' %}" method="POST" class="form-editardados">
                        {% csrf_token %}
                        <label for="nome-dados">Nome: <input type="text" name="nome" id="nome-dados" value="{{nome}}"></label>
                        <label for="email">E-mail: <input type="text" name="email" id="email" value="{{email}}"></label>
                        <label for="cpf">CPF: <input type="text" name="cpf" id="cpf" value="{{cpf}}"></label>
                        <label for="tel_celular">Telefone Celular: <input type="text" name="tel_celular" id="tel_celular" value="{{tel_celular}}"></label>
                        <button type="submit">Atualizar</button>
                    </form>
                    <img src="{% static 'images/imagem-editar.svg' %}" alt="" class="img-editar">
                </div>
            </section>
            <section class="container-menu-secundario">
                <h4>Mais Opções</h4>
                <div class="menu-secundario">
                    <div class="item-menu-secundario">
                        <a href="" class="active"><i class="bi bi-person-fill"></i></a>
                        <p>Meus Dados</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href=""><i class="bi bi-basket3-fill"></i></a>
                        <p>Meus Pedidos</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href=""><i class="bi bi-heart-fill menu-icon"></i></a>
                        <p>Meus Favoritos</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href="{% url 'minha-carteira' %}"><i class="bi bi-wallet2"></i></a>
                        <p>Minha Carteira</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href="{% url 'notificacoes' %}"><i class="bi bi-bell-fill"></i></a>
                        <p>Notificações</p>
                    </div>
                    <div class="item-menu-secundario">
                        <a href=""><i class="bi bi-bag-check-fill"></i></a>
                        <p>Comprar novamente</p>
                    </div>
                </div>
            </section>
        </div>
        <section class="container-enderecos">
            <h4>Endereços</h4>
            <div class="enderecos">
                {% for endereco in enderecos %}
                    <div class="card-endereco">
                        <h6>{{endereco.nome}}</h6>
                        <div class="endereco-dados">
                            <p>Cidade: <span>{{endereco.cidade}}, {{endereco.estado}}</span></p>
                            <p>Rua: <span>{{endereco.rua}}, {{endereco.numero}}</span></p>
                            <p>CEP: <span>{{endereco.cep}}</span></p>
                            {% if endereco.complemento != '' %}
                                <p>Complemento: <span>{{endereco.complemento}}</span></p>
                            {% else %}
                                <p>Complemento: <span>Vazio</span></p>
                            {% endif %}
                            {% if endereco.telefone != '' %}
                                <p>Telefone: <span>{{endereco.telefone}}</span></p>
                            {% else %}
                                <p>Telefone: <span>Vazio</span></p>
                            {% endif %}
                        </div>
                        <div class="container-buttons">
                            <button type="button" class="button-submit" onclick="abrirEditEndereco('{{ endereco.id }}')">Editar</button>
                            <form action="{% url 'excluir-endereco' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="endereco_id" value="{{ endereco.id }}">
                                <button type="submit" class="button-excluir">Excluir</button>
                            </form>
                            <!-- POP UP -->
                             <div id="editendereco-popup-{{endereco.id}}" class="editendereco-popup popup">
                                <div>
                                    <i class="bi bi-x" onclick="fecharEditEndereco('{{ endereco.id }}')"></i>
                                    <div class="conteudo-popUpEditEndereco">
                                        {% if messages %}
                                            {% for message in messages %} 
                                                {% if 'edit-endereco' in message.tags %}
                                                    <div class="message {{ message.tags }} message-editendereco">
                                                        <span>{{ message }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <h5>Edição do endereço <span>{{endereco.nome}}</span></h5>
                                        <form action="{% url 'edit-endereco' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="endereco_id" value="{{ endereco.id }}">
                                            <label for="nome-editendereco">Nome:* <input type="text" name="nome" id="nome-editendereco"  value="{{endereco.nome}}" placeholder="Digite o nome do endereço. Ex.: Casa, endereço principal..."></label>
                                            <div class="container-flex">
                                                <label for="cep-editendereco">CEP:* <input type="text" name="cep" id="cep-editendereco" value="{{endereco.cep}}" placeholder="Digite o CEP"></label>
                                                <label for="estado-editendereco">Estado:* <input type="text" name="estado" id="estado-editendereco" value="{{endereco.estado}}" placeholder="Digite o estado"></label>
                                                <label for="cidade-editendereco">Cidade:* <input type="text" name="cidade" id="cidade-editendereco" value="{{endereco.cidade}}" placeholder="Digite a cidade"></label>
                                            </div>
                                            <div class="container-flex">
                                                <label for="rua-editendereco">Rua:* <input type="text" name="rua" id="rua-editendereco" value="{{endereco.rua}}" placeholder="Digite a rua"></label>
                                                <label for="numero-editendereco">Número:* <input type="text" name="numero" id="numero-editendereco" value="{{endereco.numero}}" placeholder="Digite o número do endereço"></label>
                                            </div>
                                            <div class="container-flex">
                                                <label for="complemento-editendereco">Complemento: <input type="text" name="complemento" id="complemento-editendereco" value="{{endereco.complemento}}" placeholder="Digite o complemento"></label>
                                                <label for="telefone-editendereco">Telefone: <input type="text" name="telefone" id="telefone-editendereco" value="{{endereco.telefone}}" placeholder="Digite o telefone de contato"></label>
                                            </div>
                                            <div class="container-buttons">
                                                <button type="submit" class="button-submit">Atualizar</button>
                                                <button type="button" onclick="fecharEditEndereco('{{ endereco.id }}')" class="button-cancelar">Cancelar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                {% endfor %}
                <a class="card-novo-endereco" onclick="abrirAddEndereco()">
                    <i class="bi bi-plus-circle"></i>
                    <p>Adicione um novo endereço</p>
                </a>
                <!-- POP UP -->
                <div class="novoendereco-popup popup">
                    <div>
                        <i class="bi bi-x" onclick="fecharAddEndereco()"></i>
                        <div class="conteudo-popUpNovoEndereco">
                            {% if messages %}
                                {% for message in messages %} 
                                    {% if 'novo-endereco' in message.tags %}
                                        <div class="message {{ message.tags }} message-novoendereco">
                                            <span>{{ message }}</span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <h5>Adicione novo local de endereço</h5>
                            <form action="{% url 'adicionar-endereco' %}" method="POST">
                                {% csrf_token %}
                                <label for="nome-novoendereco">Nome:* <input type="text" name="nome" id="nome-novoendereco" placeholder="Digite o nome do endereço. Ex.: Casa, endereço principal..."></label>
                                <div class="container-flex">
                                    <label for="cep-novoendereco">CEP:* <input type="text" name="cep" id="cep-novoendereco" placeholder="Digite o CEP" onblur="preencher()"></label>
                                    <label for="estado-novoendereco">Estado:* <input type="text" name="estado" id="estado-novoendereco" placeholder="Digite o estado"></label>
                                    <label for="cidade-novoendereco">Cidade:* <input type="text" name="cidade" id="cidade-novoendereco" placeholder="Digite a cidade"></label>
                                </div>
                                <div class="container-flex">
                                    <label for="rua-novoendereco">Rua:* <input type="text" name="rua" id="rua-novoendereco" placeholder="Digite a rua"></label>
                                    <label for="numero-novoendereco">Número:* <input type="text" name="numero" id="numero-novoendereco" placeholder="Digite o número do endereço"></label>
                                </div>
                                <div class="container-flex">
                                    <label for="complemento-novoendereco">Complemento: <input type="text" name="complemento" id="complemento-novoendereco" placeholder="Digite o complemento"></label>
                                    <label for="telefone-novoendereco">Telefone: <input type="text" name="telefone" id="telefone-novoendereco" placeholder="Digite o telefone de contato"></label>
                                </div>
                                <div class="container-buttons">
                                    <button type="submit" class="button-submit">Adicionar</button>
                                    <button type="button" onclick="fecharAddEndereco()" class="button-cancelar">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-logout">
            <a href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i>Sair</a>
            <a onclick="abrirExcluir()"><i class="bi bi-trash3-fill"></i>Excluir Conta</a>
            <div class="excluirconta-popup popup">
                <div>
                    <i class="bi bi-x" onclick="fecharExcluir()"></i>
                    <div class="conteudo-popupExcluir">
                        <p>Deseja realmente excluir a conta?</p>
                        <p><b>Essa é uma ação permanente.</b></p>
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <div>
                            <button onclick="fecharExcluir()" class="button-cancelar">Cancelar</button>
                            <form action="{% url 'excluir-conta' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="button-excluir">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block script %}
    <script>
        const cepInput = document.getElementById('cep-novoendereco')
        const successMessage = document.querySelector('.success')
        const errorMessage = document.querySelector('.error')
        const dadosMessage = document.querySelector('.message-dados')
        const novoEnderecoMessage = document.querySelector('.message-novoendereco')
        const editEnderecoMessage = document.querySelector('.message-editendereco')
        const editEnderecoPopUp = document.querySelector('.editendereco-popup')
        const AddEnderecoPopUp = document.querySelector('.novoendereco-popup')
        const excluirPopUp = document.querySelector('.excluirconta-popup')

        
        function preencher() {
            cep = cepInput.value
            
            if (cep.length === 8) {
                let url = 'https://viacep.com.br/ws/' + cep + '/json/';
        
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (!data.erro) {
                        document.getElementById('rua-novoendereco').value = data.logradouro;
                        document.getElementById('cidade-novoendereco').value = data.localidade;
                        document.getElementById('estado-novoendereco').value = data.uf;
                    } else {
                        alert('CEP não encontrado!');
                    }
                })
                .catch(error => {
                    alert('Erro ao buscar o CEP. Verifique o CEP digitado ou tente novamente.');
                    console.error(error);
                });
            } else {
                alert('Por favor, insira um CEP válido com 8 dígitos e sem "-"');
            }
        }

        function abrirEditEndereco(id) {
            document.getElementById(`editendereco-popup-${id}`).style.visibility = 'visible';
            document.getElementById(`editendereco-popup-${id}`).style.opacity = '1';
        }

        function fecharEditEndereco(id) {
            document.getElementById(`editendereco-popup-${id}`).style.visibility = 'hidden';
            document.getElementById(`editendereco-popup-${id}`).style.opacity = '0';
        }

        function abrirAddEndereco() {
            AddEnderecoPopUp.style.visibility = 'visible'
            AddEnderecoPopUp.style.opacity = '1'
        }

        function fecharAddEndereco() {
            AddEnderecoPopUp.style.visibility = 'hidden'
            AddEnderecoPopUp.style.opacity = '0'
        }

        function abrirExcluir() {
            excluirPopUp.style.visibility = 'visible'
            excluirPopUp.style.opacity = '1'
        }

        function fecharExcluir() {
            excluirPopUp.style.visibility = 'hidden'
            excluirPopUp.style.opacity = '0'
        }

        if (dadosMessage) {
            setTimeout(function() {
                window.location.href = "{% url 'perfil' %}"
            }, 1000)
        } else if (novoEnderecoMessage) {
            AddEnderecoPopUp.style.visibility = 'visible'
            AddEnderecoPopUp.style.opacity = '1'
            setTimeout(function() {
                window.location.href = "{% url 'perfil' %}"
            }, 1000)
        } else if (editEnderecoMessage) {
            editEnderecoPopUp.style.visibility = 'visible'
            editEnderecoPopUp.style.opacity = '1'
            setTimeout(function() {
                window.location.href = "{% url 'perfil' %}"
            }, 1000)
        }
    </script>
{% endblock %}