# Ambiente virtual Python
venv/

# Cache do Python
__pycache__/
*.py[cod]

# Arquivo principal do banco SQLite
db.sqlite3
db.sqlite

# Arquivos temporários do SQLite
*.sqlite3-shm
*.sqlite3-wal

# Arquivos de configuração de ambiente
.env

# Cache do mypy e pytest
.mypy_cache/
.pytest_cache/

# Logs
*.log

# Editor/IDE
.vscode/
.idea/

# Arquivos temporários
*.tmp
