{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Finalizar Pedido{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/finalizar_pedido.css' %}">
{% endblock %}

{% block sidebar %}
    <ul class="menu">
        <li><a href="{% url 'home' %}"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
        <li><a href="{% url 'promocoes' %}"><i class="bi bi-lightning-charge-fill menu-icon"></i>Promoções</a></li>
        <li><a href="/maisvendidos"><i class="bi bi-trophy-fill menu-icon"></i>Mais Vendidos</a></li>
        <li><a href="/meuspedidos"><i class="bi bi-basket3-fill menu-icon"></i>Meus Pedidos</a></li>
        <li><a href="{% url 'meus-favoritos' %}"><i class="bi bi-heart-fill menu-icon"></i>Meus Favoritos</a></li>
        <li><a href="{% url 'perfil' %}"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
    </ul> 
{% endblock %}

{% block content %}
    <main>
        <div class="container-cima">
            <h3>Finalizar Pedido</h3>
            <section class="container-botoes-cima">
                <div class="notificacao-container">
                    <a href="{% url 'notificacoes' %}">
                        <i class="bi bi-bell-fill icon-cima"></i>
                    </a>
                    {% if notificacoes_nao_lidas > 0 %}
                        <span class="notificacoes-nao-lidas">{{ notificacoes_nao_lidas }}</span>
                    {% endif %}
                </div>
                <div class="carrinho-container">
                    <a href="{% url 'carrinho' %}">
                        <i class="bi bi-cart-fill icon-cima"></i>
                    </a>
                    {% if itens_carrinho > 0 %}
                        <span class="itens-carrinho">{{ itens_carrinho }}</span>
                    {% endif %}
                </div>
                <a class="ola-usuario" href="{% url 'perfil' %}">Olá, <span>{{ user.username|first_name }}</span><i class="bi bi-chevron-down"></i></a>
            </section>
        </div>
    </main>

{% endblock %}