{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Finalizar Pedido{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/finalizar_pedido.css' %}">
{% endblock %}

{% block sidebar %}
    <ul class="menu">
        <li><a href="{% url 'home' %}"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
        <li><a href="{% url 'promocoes' %}"><i class="bi bi-lightning-charge-fill menu-icon"></i>Promoções</a></li>
        <li><a href="/maisvendidos"><i class="bi bi-trophy-fill menu-icon"></i>Mais Vendidos</a></li>
        <li><a href="/meuspedidos"><i class="bi bi-basket3-fill menu-icon"></i>Meus Pedidos</a></li>
        <li><a href="{% url 'meus-favoritos' %}"><i class="bi bi-heart-fill menu-icon"></i>Meus Favoritos</a></li>
        <li><a href="{% url 'perfil' %}"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
    </ul> 
{% endblock %}

{% block content %}
    <main>
        <div class="container-cima">
            <h3>Finalizar Pedido</h3>
            <section class="container-botoes-cima">
                <div class="notificacao-container">
                    <a href="{% url 'notificacoes' %}">
                        <i class="bi bi-bell-fill icon-cima"></i>
                    </a>
                    {% if notificacoes_nao_lidas > 0 %}
                        <span class="notificacoes-nao-lidas">{{ notificacoes_nao_lidas }}</span>
                    {% endif %}
                </div>
                <div class="carrinho-container">
                    <a href="{% url 'carrinho' %}">
                        <i class="bi bi-cart-fill icon-cima"></i>
                    </a>
                    {% if itens_carrinho > 0 %}
                        <span class="itens-carrinho">{{ itens_carrinho }}</span>
                    {% endif %}
                </div>
                <a class="ola-usuario" href="{% url 'perfil' %}">Olá, <span>{{ user.username|first_name }}</span><i class="bi bi-chevron-down"></i></a>
            </section>
        </div>
        {% if messages %}
            {% for message in messages %} 
                {% if 'page-pedido' in message.tags %}
                    <div class="message {{ message.tags }}">
                        <span>{{ message }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action="{% url 'finalizar-pedido' %}" method="POST">
            {% csrf_token %}
            <div>
                <section class="container-endereco-cartao">
                    <div class="container-endereco endereco-cartao">
                        <h4>Endereço</h4>
                        {% if enderecos %}
                            <select name="endereco" required>
                                <option value="" disabled selected>Selecione um endereço</option>
                                {% for endereco in enderecos %}
                                    <option value="{{ endereco.id }}">
                                        {{ endereco.nome }} - {{ endereco.rua }}, {{ endereco.numero }} - {{ endereco.cidade }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <div>
                                <p>Você não possui nenhum endereço registrado.</p>
                                <a href="{% url 'perfil' %}">Adicionar endereço</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="container-cartao endereco-cartao">
                        <h4>Cartão</h4>
                        {% if cartoes %}
                            <select name="cartao" required>
                                <option value="" disabled selected>Selecione um cartão</option>
                                {% for cartao in cartoes %}
                                    <option value="{{ cartao.id }}">
                                        {{ cartao.nome }} - {{ cartao.nome_titular }} - {{ cartao.tipo|first_name }} - {{ cartao.numero|numero_cartao }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <div>
                                <p>Você não possui nenhum cartão registrado.</p>
                                <a href="{% url 'minha-carteira' %}">Adicionar cartão</a>
                            </div>
                        {% endif %}
                    </div>
                </section>
                <section class="container-produtos">
                    <h4>Produtos</h4>
                    <div class="produtos">
                        {% for produto in produtos %}
                            <div class="container-produto">
                                <img src="{{produto.imagem}}" alt="Imagem do produto do carrinho">
                                <div class="container-produto-info">
                                    <div class="nome-porcentagem">
                                        <h5>{{produto.produto.nome}}</h5>
                                        {% if produto.produto.porcentagem_desconto > 0 %}
                                            <div>
                                                {{produto.produto.porcentagem_desconto}}% OFF
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="preco-info">
                                        <p>Preço: <span>{{produto.produto.preco_calculado|floatformat:2}}</span></p>
                                        <p>Quantidade: <span>{{produto.quantidade}}</span></p>
                                        <p id="subtotal">Subtotal: <span>{{produto.total}}</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div style="width: 1px; height: 100%; background-color: rgb(189, 189, 189); border-radius: 20px;"></div>
            <section class="container-total">
                <div class="total-info">
                    <div>
                        <p>Total:</p>
                        <span>R$ {{total}}</span>
                    </div>
                    <button type="submit">Confirmar compra</button>
                    <hr>
                </div>
                <img src="{% static 'images/imagem-compra.png' %}" alt="">
            </section>
        </form>
    </main>
{% endblock %}

{% block script %}
    <script>
        const successMessage = document.querySelector('.success')
        const errorMessage = document.querySelector('.error')
        const pedidoMessage = document.querySelector('.page-pedido')

        if (pedidoMessage) {
            if (successMessage) {
                setTimeout(function() {
                    window.location.href = "{% url 'home' %}"
                }, 1000)
            } else if (errorMessage) {
                setTimeout(function() {
                    window.location.href = "{% url 'finalizar-pedido' %}"
                }, 2000)
            }
        }
    </script>
{% endblock %}