{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Meus Pedidos{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/meuspedidos.css' %}">
{% endblock %}

{% block sidebar %}
<ul class="menu">
    <li><a href="{% url 'home' %}"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
    <li><a href="{% url 'promocoes' %}"><i class="bi bi-lightning-charge-fill menu-icon"></i>Promoções</a></li>
    <li><a href="{% url 'mais-vendidos' %}"><i class="bi bi-trophy-fill menu-icon"></i>Mais Vendidos</a></li>
    <li><a href="{% url 'meus-pedidos' %}" class="active"><i class="bi bi-basket3-fill menu-icon"></i>Meus Pedidos</a></li>
    <li><a href="{% url 'meus-favoritos' %}"><i class="bi bi-heart-fill menu-icon"></i>Meus Favoritos</a></li>
    <li><a href="{% url 'perfil' %}"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
</ul> 
{% endblock %}

{% block content %}
    <main>
        <div class="container-cima">
            <h3>Meus Pedidos</h3>
            <section class="container-botoes-cima">
                <div class="notificacao-container">
                    <a href="{% url 'notificacoes' %}">
                        <i class="bi bi-bell-fill icon-cima"></i>
                    </a>
                    {% if notificacoes_nao_lidas > 0 %}
                        <span class="notificacoes-nao-lidas">{{ notificacoes_nao_lidas }}</span>
                    {% endif %}
                </div>
                <div class="carrinho-container">
                    <a href="{% url 'carrinho' %}">
                        <i class="bi bi-cart-fill icon-cima"></i>
                    </a>
                    {% if itens_carrinho > 0 %}
                        <span class="itens-carrinho">{{ itens_carrinho }}</span>
                    {% endif %}
                </div>
                <a class="ola-usuario" href="{% url 'perfil' %}">Olá, <span>{{ user.username|first_name }}</span><i class="bi bi-chevron-down"></i></a>
            </section>
        </div>
        {% if messages %}
            {% for message in messages %} 
                {% if 'page-meuspedidos' in message.tags %}
                    <div class="message {{ message.tags }}">
                        <span>{{ message }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div style="display: flex; justify-content: space-between;">
            {% if pedidos %}
                <section class="pedidos">
                    {% for pedido_detalhe in pedidos %}
                        <div class="container-pedido">
                            <img src="{{ pedido_detalhe.imagem }}" alt="Imagem do produto mais pedido">
                            <div class="pedido-info">
                                <div>
                                    <p id="data">{{ pedido_detalhe.pedido.dt_hora|date:"d M, Y" }}</p>
                                    <h3>Pedido #{{ pedido_detalhe.pedido.id }}</h3>
                                </div>
                                <div style="display: flex; flex-direction: column; gap: .7em;">
                                    <p style="font-size: 1.1em; font-weight: bold;">Status: <span style="font-weight: 500;">{{ pedido_detalhe.pedido.get_status_display }}</span></p>
                                    <p style="font-size: 1.1em; font-weight: bold;">
                                        Endereço: 
                                        {% if pedido_detalhe.pedido.endereco %}
                                            <span style="font-weight: 500;">{{ pedido_detalhe.pedido.endereco.nome }}</span>
                                        {% else %}
                                            <span style="font-weight: 500;">Vazio</span>
                                        {% endif %}
                                    </p>
                                    <p style="font-size: 1.1em; font-weight: bold;">
                                        Cartão: 
                                        {% if pedido_detalhe.pedido.cartao %}
                                            <span style="font-weight: 500;">{{ pedido_detalhe.pedido.cartao.nome }}</span>
                                        {% else %}
                                            <span style="font-weight: 500;">Vazio</span>
                                        {% endif %}
                                    </p>
                                    <p style="font-size: 1.3em; font-weight: bold; margin-top: .3em;">Total: <span style="font-weight: 500;">{{ pedido_detalhe.pedido.total }}</span></p>
                                </div>
                            </div>
                            <div class="container-buttons">
                                <button class="button-submit" onclick="abrirDetalhesPedido('{{ pedido_detalhe.pedido.id }}')">Detalhes do pedido</button>
                                {% if pedido_detalhe.pedido.status == '1' %}
                                    <button class="button-excluir" onclick="abrirCancelarPedido('{{ pedido_detalhe.pedido.id }}')">Cancelar pedido</button>
                                {% endif %}
                                {% if pedido_detalhe.pedido.status == '3' %}
                                    <button class="button-submit">Confirmar recebimento</button>
                                {% endif %}
                                <!-- POP UP DETALHES DO PEDIDO-->
                                <div id="detalhespedido-popup-{{pedido_detalhe.pedido.id}}" class="detalhespedido-popup popup">
                                    <div>
                                        <i class="bi bi-x" onclick="fecharDetalhesPedido('{{ pedido_detalhe.pedido.id }}')"></i>
                                        <div class="conteudo-popupDetalhesPedido">
                                            <h5>Detalhes do pedido #{{ pedido_detalhe.pedido.id }}</h5>
                                            <div class="pedido-itens">
                                                {% for item in pedido_detalhe.pedido.itens.all %}
                                                    <div class="container-item">
                                                        <img src="{{ item.imagem }}" alt="Imagem do item do pedido">
                                                        <div class="container-item-info">
                                                            <div class="nome-porcentagem">
                                                                <h3>{{item.produto.nome}}</h3>
                                                            </div>
                                                            <div class="preco-info">
                                                                <p>Preço: <span>{{item.produto.preco_calculado|floatformat:2}}</span></p>
                                                                <p>Quantidade: <span>{{item.quantidade}}</span></p>
                                                                <p id="subtotal">Subtotal: <span>{{item.total}}</span></p>
                                                            </div>
                                                        </div>
                                                        {% if pedido_detalhe.pedido.status == '4' %}
                                                            <div class="container-buttons">
                                                                <button class="button-submit" onclick="abrirAvaliarProduto('{{ item.produto.id }}')">Avaliar Produto</button>
                                                                <button class="button-submit" onclick="abrirDevolverProduto('{{ item.produto.id }}')">Devolver Produto</button>
                                                                <!-- POP UP AVALIAR PRODUTO -->
                                                                 <div id="avaliarproduto-popup-{{item.produto.id}}" class="avaliarproduto-popup popup">
                                                                    <div>
                                                                        <i class="bi bi-x" onclick="fecharAvaliarProduto('{{ item.produto.id }}')"></i>
                                                                        <div class="conteudo-popupAvaliarProduto">
                                                                            <h5>Avaliação do produto <span>{{ item.produto.nome }}</span></h5>
                                                                            <form action="{% url 'avaliar-produto' %}" method="POST">
                                                                                {% csrf_token %}
                                                                                <div>
                                                                                    <input type="hidden" name="produto_id" value="{{ item.produto.id }}">
                                                                                    <label for="nota">Nota: </label> 
                                                                                    <select name="nota" required>
                                                                                        <option value="" disabled selected>Selecione uma nota</option>
                                                                                        <option value="1">1</option>
                                                                                        <option value="2">2</option>
                                                                                        <option value="3">3</option>
                                                                                        <option value="4">4</option>
                                                                                        <option value="5">5</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="container-buttons-flex">
                                                                                    <button type="submit" class="button-submit">Avaliar</button>
                                                                                    <button type="button" class="button-cancelar" onclick="fecharAvaliarProduto('{{ item.produto.id }}')">Cancelar</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                 </div>
                                                                <!-- POP UP DEVOLVER PRODUTO -->
                                                                 <div id="devolverproduto-popup-{{item.produto.id}}" class="devolverproduto-popup popup">
                                                                    <div>
                                                                        <i class="bi bi-x" onclick="fecharDevolverProduto('{{ item.produto.id }}')"></i>
                                                                        <div class="conteudo-popupDevolverProduto">
                                                                            <h5>Devolução do produto <span>{{ item.produto.nome }}</span></h5>
                                                                            <form action="{% url 'devolver-produto' %}" method="POST">
                                                                                {% csrf_token %}
                                                                                <input type="hidden" name="produto_id" value="{{ item.produto.id }}">
                                                                                <div class="div-label">
                                                                                    <label for="motivo">Motivo da devolução:</label>
                                                                                    <textarea name="motivo" id="motivo" placeholder="Digite o motivo da devolução do produto"></textarea>
                                                                                </div>
                                                                                <div class="div-label">
                                                                                    <label for="foto_video">Insira uma foto ou um vídeo provando o defeito do produto:</label>
                                                                                    <input type="file" name="foto_video" id="foto_video">
                                                                                </div>
                                                                                <div class="container-buttons-flex" style="margin-top: 1em;">
                                                                                    <button type="submit" class="button-submit">Enviar</button>
                                                                                    <button type="button" class="button-cancelar" onclick="fecharDevolverProduto('{{ item.produto.id }}')">Cancelar</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- POP UP CANCELAR PEDIDO-->
                                <div id="cancelarpedido-popup-{{pedido_detalhe.pedido.id}}" class="cancelarpedido-popup popup">
                                    <div>
                                        <i class="bi bi-x" onclick="fecharCancelarPedido('{{ pedido_detalhe.pedido.id }}')"></i>
                                        <div class="conteudo-popupCancelarPedido">
                                            <p>Deseja realmente cancelar o pedido #{{ pedido_detalhe.pedido.id }}?</p>
                                            <p><b>Essa é uma ação permanente.</b></p>
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                            <div>
                                                <button type="button" onclick="fecharCancelarPedido('{{ pedido_detalhe.pedido.id }}')" class="button-cancelar">Voltar</button>
                                                <form action="{% url 'cancelar-pedido' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="pedido_id" value="{{ pedido_detalhe.pedido.id }}">
                                                    <button type="submit" class="button-excluir">Cancelar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
                <section class="container-menu-secundario">
                    <h4 style="font-size: 1.4em; font-weight: 600; margin-bottom: 1em;">Mais Opções</h4>
                    <div class="menu-secundario">
                        <div class="item-menu-secundario">
                            <a href="{% url 'perfil' %}"><i class="bi bi-person-fill"></i></a>
                            <p>Meu Perfil</p>
                        </div>
                        <div class="item-menu-secundario">
                            <a href="{% url 'meus-pedidos' %}" class="active"><i class="bi bi-basket3-fill"></i></a>
                            <p>Meus Pedidos</p>
                        </div>
                        <div class="item-menu-secundario">
                            <a href="{% url 'meus-favoritos' %}"><i class="bi bi-heart-fill menu-icon"></i></a>
                            <p>Meus Favoritos</p>
                        </div>
                        <div class="item-menu-secundario">
                            <a href="{% url 'minha-carteira' %}"><i class="bi bi-wallet2"></i></a>
                            <p>Minha Carteira</p>
                        </div>
                        <div class="item-menu-secundario">
                            <a href="{% url 'notificacoes' %}"><i class="bi bi-bell-fill"></i></a>
                            <p>Notificações</p>
                        </div>
                        <div class="item-menu-secundario">
                            <a href="{% url 'comprar-novamente' %}"><i class="bi bi-bag-check-fill"></i></a>
                            <p>Comprar novamente</p>
                        </div>
                    </div>
                </section>
            {% else %}
                <p style="font-size: 1.5em;">Você não possui nenhum pedido!</p>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block script %}
    <script>
        const cancelarPedidoPopUp = document.querySelector('.cancelarpedido-popup')
        const detalhesPedidoPopUp = document.querySelector('.detalhespedido-popup')
        const avaliarProdutoPopUp = document.querySelector('.avaliarproduto-popup')
        const devolverProdutoPopUp = document.querySelector('.devolverproduto-popup')
        const pageMessage = document.querySelector('.page-meuspedidos')

        function abrirCancelarPedido(id) {
            document.getElementById(`cancelarpedido-popup-${id}`).style.visibility = 'visible';
            document.getElementById(`cancelarpedido-popup-${id}`).style.opacity = '1';
        }

        function fecharCancelarPedido(id) {
            document.getElementById(`cancelarpedido-popup-${id}`).style.visibility = 'hidden';
            document.getElementById(`cancelarpedido-popup-${id}`).style.opacity = '0';
        }

        function abrirDetalhesPedido(id) {
            document.getElementById(`detalhespedido-popup-${id}`).style.visibility = 'visible';
            document.getElementById(`detalhespedido-popup-${id}`).style.opacity = '1';
        }

        function fecharDetalhesPedido(id) {
            document.getElementById(`detalhespedido-popup-${id}`).style.visibility = 'hidden';
            document.getElementById(`detalhespedido-popup-${id}`).style.opacity = '0';
        }

        function abrirAvaliarProduto(id) {
            document.getElementById(`avaliarproduto-popup-${id}`).style.visibility = 'visible';
            document.getElementById(`avaliarproduto-popup-${id}`).style.opacity = '1';
        }

        function fecharAvaliarProduto(id) {
            document.getElementById(`avaliarproduto-popup-${id}`).style.visibility = 'hidden';
            document.getElementById(`avaliarproduto-popup-${id}`).style.opacity = '0';
        }

        function abrirDevolverProduto(id) {
            document.getElementById(`devolverproduto-popup-${id}`).style.visibility = 'visible';
            document.getElementById(`devolverproduto-popup-${id}`).style.opacity = '1';
        }

        function fecharDevolverProduto(id) {
            document.getElementById(`devolverproduto-popup-${id}`).style.visibility = 'hidden';
            document.getElementById(`devolverproduto-popup-${id}`).style.opacity = '0';
        }

        if (pageMessage) {
            setTimeout(function() {
                window.location.href = "{% url 'meus-pedidos' %}"
            }, 1000)
        }

    </script>
{% endblock %}