<div class="produtos">
    {% if not produtos_pesquisa %}
        <p style="font-size: 1.5em;">Nenhum produto encontrado</p>
    {% else %}
        {% for prod in produtos_pesquisa %}
            <a class="card-produto" href="{% url 'produto' prod.id %}">
                <div class="container-imgProduto">
                    <img class="imagem-produto" src="/media/{{prod.imagem}}" alt="">
                </div>
                <form action="{% url 'favorito' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="produto_id" value="{{ prod.id }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    {% if prod.id in favoritos_cliente %}
                        <button type="submit" class="button-favoritar"><i class="bi bi-heart-fill"></i></button>
                    {% else %}
                        <button type="submit" class="button-favoritar"><i class="bi bi-heart"></i></button>
                    {% endif %}
                </form>
                {% if prod.porcentagem_desconto == 0 %}
                    <div class="produto-info">
                        <h5 class="titulo-produto">{{prod.nome}}</h5>
                        <p class="precoCalculado-produto">{{prod.preco}} R$</p>
                    </div>
                {% else %}
                    <div class="produto-info">
                        <h5 class="titulo-produto">{{prod.nome}}</h5>
                        <div>
                            <div>
                                <p class="preco-produto">{{prod.preco}} R$</p>
                                <p class="precoCalculado-produto">{{prod.preco_calculado|floatformat:2}} R$</p>
                            </div>
                            <div class="promocao">
                                {{prod.porcentagem_desconto}}% OFF
                            </div> 
                        </div>
                    </div>
                {% endif %}
                <div class="container-button-carrinho">
                    <button class="button-comprar">Comprar</button>
                </div>
            </a>
        {% endfor %}
    {% endif %}
</div>