{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{produto.nome}}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/produto.css' %}">
{% endblock %}

{% block sidebar %}
    <ul class="menu">
        <li><a href="{% url 'home' %}"><i class="bi bi-house-door-fill menu-icon"></i>Página Inicial</a></li>
        <li><a href="{% url 'promocoes' %}"><i class="bi bi-lightning-charge-fill menu-icon"></i>Promoções</a></li>
        <li><a href="{% url 'mais-vendidos' %}"><i class="bi bi-trophy-fill menu-icon"></i>Mais Vendidos</a></li>
        <li><a href="{% url 'meus-pedidos' %}"><i class="bi bi-basket3-fill menu-icon"></i>Meus Pedidos</a></li>
        <li><a href="{% url 'meus-favoritos' %}"><i class="bi bi-heart-fill menu-icon"></i>Meus Favoritos</a></li>
        <li><a href="{% url 'perfil' %}"><i class="bi bi-person-fill menu-icon"></i>Meu Perfil</a></li>
    </ul> 
{% endblock %}

{% block content %}
    <main>
        <div class="container-cima">
            <h3>{{produto.nome}}</h3>
            <section class="container-botoes-cima">
                <div class="notificacao-container">
                    <a href="{% url 'notificacoes' %}">
                        <i class="bi bi-bell-fill icon-cima"></i>
                    </a>
                    {% if notificacoes_nao_lidas > 0 %}
                        <span class="notificacoes-nao-lidas">{{ notificacoes_nao_lidas }}</span>
                    {% endif %}
                </div>
                <div class="carrinho-container">
                    <a href="{% url 'carrinho' %}">
                        <i class="bi bi-cart-fill icon-cima"></i>
                    </a>
                    {% if itens_carrinho > 0 %}
                        <span class="itens-carrinho">{{ itens_carrinho }}</span>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    <a class="ola-usuario" href="{% url 'perfil' %}">Olá, <span>{{ user.username|first_name }}</span><i class="bi bi-chevron-down"></i></a>
                {% else %}
                    <a><i class="bi bi-person-fill icon-cima"></i></a>
                    <button class="button-sign"><a href="{% url 'login' %}">Entrar</a></button>
                    <button class="button-sign"><a href="{% url 'cadastro' %}">Cadastrar</a></button>
                {% endif %}
            </section>
        </div>
        {% if messages %}
            {% for message in messages %} 
                {% if 'page-produto' in message.tags %}
                    <div class="message {{ message.tags }} message-produto">
                        <span>{{ message }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <section class="container-detalhes-produto">
            <img src="/media/{{produto.imagem}}" alt="Imagem do produto {{produto.nome}}">
            <div class="detalhes-produto">
                <div class="descricao-produto">
                    <h5>Informações do produto</h5>
                    <p>{{produto.descricao}}</p>
                </div>
                <div class="container-preco">
                    <p>R${{produto.preco_calculado|floatformat:2}}</p>
                    {% if produto.porcentagem_desconto != 0 %}
                        <div class="icon-raio"><i class="bi bi-lightning-charge-fill"></i></div>
                    {% endif %}
                </div>
                <p class="estoque">Estoque disponível: <span>{{produto.calcular_estoque}}</span></p>
                <form action="{% url 'adicionar-ao-carrinho' produto.id %}" method="POST">
                    {% csrf_token %}
                    <label for="qtd_produto">Quantidade: <input type="number" name="qtd_produto" id="qtd_produto" placeholder="0"></label>
                    <button type="submit">Adicionar ao carrinho</button>
                </form>
            </div>
        </section>
        <section class="avaliacao">
            <h3>Avaliação do Produto</h3>
            <div>
                <div class="avaliacao-media">
                    <p><span>{{ media_avaliacoes }}</span>/5</p>
                </div>
                <div class="notas">
                    <p>{{ total_avaliacoes }} avaliações</p>
                    <div>
                        <div>
                            <p>{{ nota_5 }}</p>
                            <img id="estrelas-5" src="{% static 'images/5_estrelas.png' %}" alt="5 estrelas">
                        </div>
                        <div>
                            <p>{{ nota_4 }}</p>
                            <img id="estrelas-4" src="{% static 'images/4_estrelas.png' %}" alt="4 estrelas">
                        </div>
                        <div>
                            <p>{{ nota_3 }}</p>
                            <img id="estrelas-3" src="{% static 'images/3_estrelas.png' %}" alt="3 estrelas">
                        </div>
                        <div>
                            <p>{{ nota_2 }}</p>
                            <img id="estrelas-2" src="{% static 'images/2_estrelas.png' %}" alt="2 estrelas">
                        </div>
                        <div>
                            <p>{{ nota_1 }}</p>
                            <img id="estrelas-1" src="{% static 'images/1_estrela.png' %}" alt="1 estrela">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="produtos-relacionados">
            {% if produtos_relacionados %}
                <h3>Produtos relacionados</h3>
                <div class="produtos">
                    {% for prod in produtos_relacionados %}
                        <a class="card-produto" href="{% url 'produto' prod.id %}">
                            <div class="container-imgProduto">
                                <img class="imagem-produto" src="/media/{{prod.imagem}}" alt="">
                            </div>
                            <form action="{% url 'favorito' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="produto_id" value="{{ prod.id }}">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {% if prod.id in favoritos_cliente %}
                                    <button type="submit" class="button-favoritar"><i class="bi bi-heart-fill"></i></button>
                                {% else %}
                                    <button type="submit" class="button-favoritar"><i class="bi bi-heart"></i></button>
                                {% endif %}
                            </form>
                            {% if prod.porcentagem_desconto == 0 %}
                                <div class="produto-info">
                                    <h5 class="titulo-produto">{{prod.nome}}</h5>
                                    <p class="precoCalculado-produto">{{prod.preco}} R$</p>
                                </div>
                            {% else %}
                                <div class="produto-info">
                                    <h5 class="titulo-produto">{{prod.nome}}</h5>
                                    <div>
                                        <div>
                                            <p class="preco-produto">{{prod.preco}} R$</p>
                                            <p class="precoCalculado-produto">{{prod.preco_calculado|floatformat:2}} R$</p>
                                        </div>
                                        <div class="promocao">
                                            {{prod.porcentagem_desconto}}% OFF
                                        </div> 
                                    </div>
                                </div>
                            {% endif %}
                            <div class="container-button-carrinho">
                                <button class="button-comprar">Comprar</button>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}

{% block script %}
    <script>
        const carrinhoUrl = "{% url 'carrinho' %}"
        const produtoId = "{{ produto.id }}"
    </script>
    <script src="{% static 'js/user/produto.js' %}"></script>
{% endblock %}